



#titulox{
    margin-top: 20px;
    margin-left: 100px;
}

#g1, #g2,#g3,#g4, #g5, #g6 {
    margin-top: 80px;
    
}

#conctato{

margin-top: 20px;
    margin-left: 60px;
}
#conctato1{

    margin-top: 20px;
        margin-left: 60px;
    }
